body {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  font-size: 1.5em;
  text-align: left;
  margin-left: 1rem;
}
a {
  text-decoration: none;
  color: royalblue;
}
h1 a {
  color: unset;
}
h1 a:hover {
  text-decoration: underline;
}
.languages {
  text-align: left;
  margin-left: 1rem;
}
#container {
  height: 90vh;
}
#footer {
  font-size: 0.8em;
}