body {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: royalblue;
}
#container {
  height: 90vh;
}
#footer {
  font-size: 0.8em;
}